.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11111;
  background: #fff;
  transition: .5s background ease;

  &._scroll {
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(4px);
  }

  // .header__container
  &_container {
    max-width: 1232px;
    margin: 0 auto;
    display: flex;
    padding: 0px 16px;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    &._active {
      display: none;
    }
  }

  // .header__logo
  &_logo {
    z-index: 11;
    position: relative;

    @media (max-width: 1023.98px) {
      left: 0;
    }

    .logo {
      display: block;

      &._show {
        display: none;
      }
    }

    .logo-scroll {
      display: none;

      &._show {
        display: block;
      }
    }
  }
}

.menu {
  margin: 0 0 0 55px;

  @media (max-width: 1048px) {
    margin: 0 0 0 21px;
  }

  @media (max-width: 992px) {
    margin: 0;
  }

  & .phone_menu {
    display: none;

    @media (max-width: 992px) {
      display: block;
      position: relative;
      z-index: 111;
    }

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  // .menu__body

  // .menu__list
  &_list {
    flex-wrap: wrap;

    &>li {
      position: relative;
      margin: 0px 20px 0px 0px;
    }
  }

  &_icon,
  &_icon-2 {
    display: none;
  }

  // .menu__item
  &_item {
    text-transform: uppercase;
    line-height: 120%;
  }

  // .menu__link
  &_link {
    color: #272727;
    font-weight: 500;
    font-size: 16px;
  }
}

//===============//
body {

  //body_adaptive
  &._lock {
    overflow: hidden;
  }

  &._touch .menu_list>li {
    display: flex;
    align-items: center;
  }

  &._touch .menu_link {
    flex: 1 1 auto;
  }
}

//===============//

